<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="asset/css/style.css">
    <link rel="stylesheet" href="asset/css/project-detail.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
        <div class="container-fluid">
            <img src="asset/img/logo.jpg" alt="" class="img-fluid img-nav" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                    <li class="nav-item hover px-3">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item hover ">
                        <a class="nav-link " href="/addmyproject">My Project</a>
                    </li>

                </ul>

                <button class="btn btn-light rounded-pill" type="submit" style="border: 1px solid black;">
                    <a style="color: black;" href="/contact"> Contact Me </a>
                </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-5 d-flex-me">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 ">
                <h2>Hi Welcome to my hut</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea magni
                    dignissimos vitae amet, saepe nemo impedit reprehenderit nobis
                    repudiandae quam consequuntur illo ipsum sint, cumque possimus,
                    aperiam laborum magnam! Sint nam consequuntur quidem voluptate
                    eligendi cumque, esse doloribus, recusandae eaque enim, numquam
                    amet. Corporis illo, assumenda odio quaerat tempora ab non, atque
                    ullam ipsum ratione aut ut, fugiat ducimus. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Veritatis tenetur distinctio
                    deleniti inventore natus, itaque quo est, voluptatum ullam qui ipsum
                    expedita officiis omnis perferendis eius dolores, eveniet illum
                    facilis.
                </p>
                <div class="row mb-4">
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
                        <button class="custom-button w-100 w-md-auto">Contact</button>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                        <button class="btn btn-dark btn-dark-me w-100 w-md-auto rounded-pill">Download CV</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-icons d-flex gap-1 ">
                        <a href="#"><img src="asset/img/icon_linkedin.png" alt="LinkedIn" class="social-icon"></a>
                        <a href="#"><img src="asset/img/icon_instagram.png" alt="Instagram" class="social-icon"></a>
                        <a href="#"><img src="asset/img/icon_facebook.png" alt="Facebook" class="social-icon"></a>
                        <a href="#"><img src="asset/img/icon_twitter.png" alt="Twitter" class="social-icon"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="col-md-auto">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top"
                            src="https://img.freepik.com/premium-photo/ai-human-avatar-characters-male-model_1166271-38.jpg?w=740">
                        <div class="card-body text-center">
                            <h5 class="card-title">Muhammad Ilham Hafizha</h5>
                            <p class="card-text">Fullstack Developer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container col-12 col-sm-6 mb-4">
        <h3 class="text-center mb-5">My Project</h3>
        <div class="row ">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/13129607/file/original-f2ace1ea9080485a25b46ba38924d699.png?resize=450x338&vertical=center"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">Mobile Application for Cyclist</a>
                        </h5>
                        <p class="card-text">Durasi: 1 Bulan</p>
                        <p class="card-text">Teknologi yang digunakan Flutter</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/11475635/file/original-59340e978a170506b2fd71aca3e455ce.png?resize=1024x768"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">Fitplan - Planner Dashboard</a>
                        </h5>
                        <p class="card-text">Durasi: 2 Bulan</p>
                        <p class="card-text">Teknologi yang digunakan NodeJS</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/7187831/file/original-4c8c841ddf8729c4fc41723d79e89b29.jpg?resize=1024x768"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">Time Tracker Dashboard </a>
                        </h5>
                        <p class="card-text">Durasi: 1 Tahun days</p>
                        <p class="card-text">Teknologi yang digunakan ReactJs</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/4084519/file/original-2f7d2700874c51f1984145a246abf213.png?resize=1024x768"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">GoodNotes - Collaborative Notes Mobile App</a>
                        </h5>
                        <p class="card-text">Durasi: 3 Bulan</p>
                        <p class="card-text">Teknologi yang digunakan React </p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/9065001/file/original-6d5c0d1a85a0d3423769817fb75753a5.png?resize=1024x768"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">Task & Project Management Dashboard</a>
                        </h5>
                        <p class="card-text">Durasi: 6 Bulan</p>
                        <p class="card-text">Teknologi yang digunakan Bootsrap</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://cdn.dribbble.com/userupload/15413648/file/original-e6395c63b07b9dcbd324efbf6b44b52b.png?resize=1024x768"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="project-detail.html" target="_blank">Task & Project Management Landing Page</a>
                        </h5>
                        <p class="card-text">Durasi: 1 Tahun days</p>
                        <p class="card-text">Teknologi yang digunakan NodeJS</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="asset/img/web.png" alt="Web" class="icon me-2">
                                <img src="asset/img/android.png" alt="Android" class="icon me-2">
                                <img src="asset/img/javascript.png" alt="JavaScript" class="icon me-2">
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn btn edit-btn btn-primary">Edit</button>
                            <button class="btn btn delete-btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>